header {
    height: 100px;
    background-size: contain;
    background-color:#339FFF;
    background-image: url(../img/pattern.png);
}

body {
    width: 75%;
    margin: auto;
}

#logos {
    width: 15%;
    height: ;
}

#signature {
    color: #339FFF ;
}

.almostblack {
    color: rgb(149, 153, 153);
}

#date {
    font-size: 10px;
}

#description {
    font-size: 9px;
    
}

.evidenziatore {
    background-color:#FFFF33;
}

thead {
    background-color: #339FFF;
}

 table .starred {
    background-color: #b8daf8;
}

#firstimg h3{
    display: block;
    width: 350px ;
    height: 280px ;
    color: rgb(255, 255, 255);
    background-image: url(../img/monitor.jpg);
    background-size: contain;
}

#secondimg h3{
    display: block;
    width: 350px ;
    height: 280px ;
    color: rgb(255, 255, 255);
    background-image: url(../img/graph.jpg);
    background-size: contain;
}