header {

    background-color:#339FFF;
    background-image: ../img/pattern.png;
}

body {
    width: 75%;
    margin: auto;
}

#logos {
    width: 15%;
    height: ;
}

#signature {
    color: #339FFF ;
}

.almostblack {
    color: rgb(149, 153, 153);
}

#date {
    font-size: 10px;
}

#description {
    font-size: 9px;
    
}

.evidenziatore {
    background-color:#FFFF33;
}