header {

    background-color:#339FFF;
    background-image: ../img/pattern.png;
}

#logos {
    width: 15%;
    height: ;
}

#signature {
    color: #339FFF ;
}

.almostblack {
    color: rgb(149, 153, 153);
}

#date {
    font-size: 10px;
}